node_modules/
.vscode/
playwright-report/
test-results/
.env
.DS_Store
state*.json

# ignore nested repos
SalusUAT.git/
SalusUAT/

# Never commit Playwright state or reports
state*.json
playwright-report/
test-results/

# Ignore nested repo folders
SalusUAT.git/
SalusUAT/
